version: "3.8"

services:
  portfolio-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: my-portfolio-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env.local
      - .env
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
    command: pnpm run dev
    restart: unless-stopped
